* {
    font-family: "Chakra Petch", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* start custom styles*/
.cover-preview {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

    .cover-preview:hover {
        transform: scale(1.02);
    }

/* Start Override SweetAlert2 */
.swal2-title, .swal2-html-container {
    color: #fff !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: #1a0933;
}
/* End Override SweetAlert2 */